/* Very basic additional CSS to complement bootstrap CSS on index.html page*/

html, body {
    height: 100%;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
}