/*
	Museum Styles
*/

body {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	background-color: #DEDEDE;
	color: #333333;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 20px;
}
select {
	font-family: 'Verdana', cursive;
	background-color: orange;
}
table, th, td {
	vertical-align: top;
	border: 1px solid black;
	border-collapse: collapse;
}
img {
	vertical-align: top;	
}
